protrider/.ipynb_checkpoints/*
**/*egg-info
**/__pycache__
**/.ipynb_checkpoints
protrider-simulation/
output/*
logs/*
build
.vscode/*
**/.pytest_cache
.venv/
/tests/local_test_fraser.ipynb
output_gtex/*
sample_data/fraser/fraser8653/fraser8653_s.csv
sample_data/fraser/fraser8653/fraser8653_u.csv
sample_data/gtex/raw-local-Brain_-_Cerebellum_s.csv
sample_data/gtex/raw-local-Brain_-_Cerebellum_u.csv
output_kremer/*
config.yaml
configs/*
